<div class="col-md-12 wrapper-container" *ngIf="loadingIndicator">
    <div class="col-md-5">
        <img width="300px" height="300px" class="logo" [src]="itemDetails.poster">
    </div>
    <div class="col-md-5">
        <p>{{itemDetails.Title}}</p>
        <h3>{{itemDetails.Name}}</h3>
        <br/>
        <p>{{itemDetails.Description}}</p>
        <br/>
        <div>
            <p>Color:<span>{{itemDetails.color}}</span></p>
        </div>
        <p>Price per Unit</p>
        
            <div class="col-md-2 wrap-marg"><span>$</span>{{itemDetails.price}}</div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" >
                BUY NOW</button>
            </div>
       
    </div>
   
    
   
</div>
